@import "../../global.scss";
@import "../../style.scss";

.testimonialList {
  width: 100%;
  min-height: 80vh;
  position: relative;

  @include respond(tabLand) {
    min-height: 72vh;
  }

  @include respond(tabPort) {
    min-height: 72vh;
  }
  @include respond(phone) {
    min-height: 72vh;
  }

  .containerList {
    height: 100%;
    display: flex;
    list-style: none;

    .slide {
      width: 100%;
      height: 100%;
      flex-shrink: 0;

      .containerItems {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .contentItems {
          min-height: 400px;
          width: 50%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          color: white;
          padding: rem(30) rem(50) 0;

          @include respond(tabLand) {
            min-height: 350px;
            width: 70%;
          }

          @include respond(tabPort) {
            min-height: 350px;
            padding: rem(30) 0 0;
          }

          @include respond(phone) {
            min-height: 400px;
          }

          &::before {
            content: "";
            position: absolute;
            background-image: url("../../assets/quote-start.png");
            background-repeat: no-repeat;
            background-size: rem(50) auto;
            width: rem(50);
            height: rem(44);
            left: rem(-90);

            @include respond(tabLand) {
              background-size: rem(30) auto;
              left: -1.5rem;
            }

            @include respond(tabPort) {
              left: -4rem;
            }
          }

          &::after {
            content: "";
            background-image: url("../../assets/quote-start.png");
            position: absolute;
            background-repeat: no-repeat;
            background-size: rem(50) auto;
            transform: rotateZ(180deg);
            width: rem(50);
            height: rem(44);
            right: rem(-90);

            @include respond(tabLand) {
              background-size: rem(30) auto;
              right: -1.5rem;
            }

            @include respond(tabPort) {
              right: -4rem;
            }
          }

          em {
            position: relative;

            p {
              font-size: rem(25);
              text-align: center;

              @include respond(tabLand) {
                font-size: rem(30);
              }

              @include respond(tabPort) {
                font-size: rem(22);
              }

              @include respond(phone) {
                font-size: rem(19);
              }
            }
          }

          .person {
            text-align: center;

            h2 {
              font-size: rem(35);
              padding-bottom: rem(15);

              @include respond(tabLand) {
                font-size: rem(45);
              }

              @include respond(tabPort) {
                font-size: rem(32);
              }
            }

            h4 {
              font-size: rem(18);

              @include respond(tabLand) {
                font-size: rem(25);
              }

              @include respond(tabPort) {
                font-size: rem(22);
              }
            }
          }
        }
      }
    }
  }

  .btn {
    position: absolute;
    top: 15%;
    transform: translateY(0);
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 99;

    .arrow {
      font-size: 8rem;

      @include respond(tabPort) {
        font-size: 5rem;
      }
    }

    &.btnLeft {
      left: rem(50);

      @include respond(tabPort) {
        left: rem(10);
      }
    }

    &.btnRight {
      right: rem(50);

      @include respond(tabPort) {
        right: rem(10);
      }
    }

    @include respond(phone) {
      top: 20%;
    }
  }

  .dotsContainer {
    position: relative;
    display: flex;
    margin-top: rem(50);
    text-align: center;
    justify-content: center;

    .dot {
      margin: 0 rem(8);
      cursor: pointer;
      color: white;
      font-size: 15px;

      &.active {
        color: red;
      }
    }
  }
}
